<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Detalhes Sede</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<style>
.lista-sedes {
	list-style: none;
	display: inline-block;
	max-width: 1200px;
}
</style>
</head>
<body>

	<div class="container">
		<h1 th:text="${building.name}"></h1>

		<div>
			<ul class="lista-sedes" th:each="library: ${libraries}">
				<li>
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title" th:text="${library.name}"></h5>
							<p class="card-text"><strong>Sala: </strong><span  th:text="${library.room}"></span></p>
							<p class="card-text" ><strong>Ramal: </strong><span th:text="${library.phoneCode}"></span></p>
							<a th:href="@{/{id}/books(id=${library.id})}"
								class="btn btn-primary">Ver Livros</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<a th:href="@{/building}"
								class="btn btn-secondary">Voltar</a>
		<a th:href="@{/{id}/register-library(id=${building.id})}" style="margin-top: 30px;">
			<button class="btn btn-primary">Cadastrar Biblioteca</button>
		</a>
	</div>

</body>
</html>