<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Cadastrar nova biblioteca</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">

		<h1>
			Cadastrar Biblioteca - <span th:text="${building.name}"></span>
		</h1>

		<form th:action="@{/{id}/register-library(id=${building.id})}"
			method="post" th:object="${libraryViewModel}">
			<div class="form-group">
				<label>Nome da biblioteca</label>
				<input type="text" class="form-control" placeholder="Nome" th:field="*{name}">
			</div>
			<div class="form-group">
				<label>Sala</label>
				<input type="text" class="form-control" placeholder="Número da sala" th:field="*{room}">
			</div>
			<div class="form-group">
				<label>Ramal</label>
				<input type="text" class="form-control" placeholder="XXXX" th:field="*{phoneCode}">
			</div>
			<a th:href="@{/{id}/libraries(id=${building.id})}" class="btn btn-secondary">Voltar</a>
			<button type="submit" class="btn btn-primary">Cadastrar</button>
		</form>

	</div>

</body>
</html>